@import '../../../styles/variables';

.tables-viewer {
  margin: 0 auto;
  max-width: 850px;

  &__container {
    overflow: auto;
  }

  &__table {
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;

    th,
    td {
      &:nth-child(3),
      &:nth-child(4) {
        text-align: center;
      }
    }

    th {
      font-size: 0.8em;
      padding: 1em;
    }

    td {
      padding: 0.5em 1em;

      &:nth-child(3) {
        font-size: 0.7em;
      }
    }

    &-head {
      border-bottom: 1px solid $black;
      text-align: left;
    }

    &-row {
      &:nth-last-child(1) {
        background-color: rgba($red, 0.1);
      }

      &:nth-last-child(2) {
        background-color: rgba($red, 0.075);
      }

      &:nth-last-child(3) {
        background-color: rgba($red, 0.05);
      }

      &--is-own {
        // background-color: rgba($red, 0.15);
        font-weight: $font-weight-bold;
      }
    }
  }

  @media screen and (min-width: $breakpoints-x-small) {
    &__table {
      font-size: 14px;
    }
  }

  @media screen and (min-width: $breakpoints-small) {
    &__table {
      font-size: 1rem;
    }
  }
}
