@import '../../../styles/variables';

.tables-viewer {
  margin: 0 auto;
  max-width: 850px;

  &__container {
    overflow: auto;
  }

  &__table {
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;

    th,
    td {
      padding: 0.5em 0.25em;

      &:nth-child(n + 3) {
        text-align: center;
      }
    }

    th {
      font-size: 0.8em;
      padding-bottom: 1em;
      padding-top: 1em;
    }

    td {
      // padding: 0.5em 1em;

      &:nth-child(n + 3) {
        font-size: 0.7em;
      }

      &:last-child {
        font-size: 1em;
      }
    }

    &-head {
      border-bottom: 1px solid $black;
      text-align: left;
    }

    &-row {
      &:nth-last-child(1) {
        background-color: rgba($red, 0.1);
      }

      &:nth-last-child(2) {
        background-color: rgba($red, 0.075);
      }

      &:nth-last-child(3) {
        background-color: rgba($red, 0.05);
      }

      &--is-own {
        // background-color: rgba($red, 0.15);
        font-weight: $font-weight-bold;
      }
    }

    &-data {
      &--name {
        align-items: center;
        display: flex;
      }

      &--name & {
        &-image {
          $image-size: 15px;

          border-radius: 50%;
          height: $image-size;
          margin-left: calc(-#{$image-size} - 0.5em);
          margin-right: 0.5em;
          width: $image-size;
        }
      }
    }
  }

  @media screen and (min-width: $breakpoints-x-small) {
    &__table {
      font-size: 14px;
    }
  }

  @media screen and (min-width: $breakpoints-small) {
    &__table {
      font-size: 1rem;
    }
  }
}
