@import '../../styles/variables';

.main-layout {
  &__header {
    align-items: center;
    border-bottom: 4px solid $red;
    display: flex;
    padding: 1em;

    &-logo {
      height: 50px;
    }

    &-title {
      font-family: $font-family-serif;
      font-size: 30px;
      font-weight: $font-weight-normal;
      letter-spacing: 1px;
      margin: 0 0 0 0.75em;
      text-transform: uppercase;
    }

    &-settings-link {
      color: inherit;
      font-size: 10px;
      margin-left: auto;
    }
  }

  &__content {
    padding: 1em;
  }

  @media screen and (min-width: $breakpoints-small) {
    &__header {
      &-logo {
        height: 100px;
      }

      &-title {
        margin-left: 1em;
      }
    }
  }
}
