html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $white;
  color: $black;
  font-family: $font-family-open-sans;
  margin: 0;
}
