$color-red: #c8102e;
$color-red-lighter: #db5461;
$color-red-lightest: #f59ca9;
$color-white: #fff;
$color-black: #111;
$color-gold: #84754e;
$color-gold-shiny: #dda15e;
$color-navy: #001f3f;

$color-f9f9f9: #f9f9f9;
$color-f4f4f4: #f4f4f4;
$color-f6f6ee: #f6f6ee;
$color-ececec: #ececec;

$red: $color-red;
$white: $color-white;
$black: $color-black;
$gold: $color-gold;

$color-background: hsla(0, 0%, 98%, 1);

$font-family-sans: 'Montserrat', sans-serif;
// $font-family-open-sans: 'Open Sans', sans-serif;
// $font-family-serif: 'Cormorant Unicase', serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 900;

$breakpoints-x-small: 430px;
$breakpoints-small: 640px;
$breakpoints-medium: 1024px;
$breakpoints-large: 1200px;
$breakpoints-x-large: 1400px;
