$red: #c02415;
$white: #fff;
$black: #111;
$gold: hsl(42, 65%, 65%);

$font-family-open-sans: 'Open Sans', sans-serif;
$font-family-merriweather: 'Merriweather', serif;
$font-family-song-myung: 'Song Myung', serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
