$red: #c8102e;
$white: #fff;
$black: #000;
// $gold: hsl(42, 65%, 65%);
$gold: #84754e;

$color-background: hsla(0, 0%, 98%, 1);

$font-family-open-sans: 'Open Sans', sans-serif;
$font-family-serif: 'Cormorant Unicase', serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$breakpoints-x-small: 430px;
$breakpoints-small: 640px;
$breakpoints-medium: 1024px;
